1 RCDATA "NP01VN1.DB"
2 RCDATA "NP01VN1.PX"
3 RCDATA "NP01VN1.XG0"
4 RCDATA "NP01VN1.YG0"
5 RCDATA "NP01VN.DB"
6 RCDATA "NP01VN.MB"
7 RCDATA "NP01VN.VAL"
8 RCDATA "NP01VN2.DB"
9 RCDATA "NP01VN2.PX"